.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    
    z-index: 99;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;  
    
  }
  .letgo{ 
      background-color: black;
      color: rgb(250, 249, 246);
      padding: 0px 3px 4px 5px;
      
      
      display: none;
  }
  .burgerphone{ position: fixed;
      background-color: black;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding-top: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 52px;
  }



  


  